/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
/****** PAGE *****/

/**** HEADER ****/

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.headerImg {
    width: 61.09px;
    height: 19px;
    padding-top: 35px;
    margin-left: 50px;
}

.headerNav {
    display: flex;
    align-items: center;
    }

.headerNavLink {
    width: 112px;
    height: 15px;
    text-align: center;
    font-weight: 500;
    margin-left: 35px;
}

.headerNavLink:hover {
    color: #0065FC;
    border-top: solid;
    padding-top: 35px;
    width: max-content;
}

/***** HEADER *****/

.search_header_title {
    font-size: 22px;
    font-weight: 700;
}

.search_header_subtitle {
    font-size: 14px;
}

.search_filters_title { 
    font-size: 16px;
    font-weight: 400; 
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***** SEARCH ****/

.search{
    margin-left: 50px;
}
.search_form {
    display: flex;
    height: 50px;
}

.search_form_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    color: black;
}

.fa-location-dot { color:black;}

.search_form_searchinput {
    border: 2px solid ;
    border-color:#F2F2F2;
    width: 150px;
    }

.search_form_searchinput::placeholder {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    opacity: 1;
    font: Raleway ;
    display: flex;
    align-items: center;
    text-align: center;    
    border: 2px;
    }

.search_form_subtinput {
    background-color: #0065FC; 
    border-radius: 0% 15% 15% 0%;
    border-color:#0065FC ; 
    }

.search_form_subtinput_text {
    color: #FFFFFF;
    font: Raleway ;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 125px;
 }

 .search_filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    align-items: center;
 }

 .search_filters_title {
    font-weight: 700;
 }

 .search_filters_filters {
    display: flex;
    flex-direction: row;
 }

 .search_filters_filters_a {
    display: flex;
    flex-direction: row;    
}

.search_filters_filters_b {
    display: flex;
    flex-direction: row;
}

 .search_filters_filter {
    display: flex;
    align-items: center;
    margin-left: 25px;
    min-width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid ;
    border-color:#D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    padding: 0px 10px 0px 10px;

    & p{
    margin-left: 5px;
    text-align: center;
    width:100%;        
    }
 }

.search_filters_filter:hover {
    background-color:#DEEBFF;
}
 .search_result {
    display: flex;
    align-items: center;
    font-size: 14px; 
 }

.search_result_icon {
    border: 1px solid ;
    border-color:#D9D9D9;
    border-radius: 50px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_text_icon {
    display:none;
}
 .search_result_text {
    margin-left: 15px; 
 }
/***** SEARCH ****/

/****** HOSTING AND POPULAR ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    height: 600px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

/****** HOSTING ***********/
.hebergements {
    background-color: #F2F2F2;
    width: 65%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    }

.hosting_main_cards{
    display: flex;
    flex-direction: column;
}

.hosting_main_cards_a {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.card_port {
    box-sizing: content-box;
    width: 30%;
}
.card_amina {
    box-sizing: content-box;
    width: 30%;
}

.card_mouettes {
    box-sizing: content-box;
    width: 30%;
}
.card_mer{
    box-sizing: content-box;
    width: 30%;
}
.card_canebiere {
    box-sizing: content-box;
    width: 30%;
}
.card_panier {
    box-sizing: content-box;
    width: 30%;
}

.hosting_main_cards_b {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 15px;
}

.hebergements img {
    Width: 100%;
    Height: 124px;
    border-radius: 20px 20px 0px 0px;
    Border: 5px;
    object-fit: cover; 
}

.hebergements .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 7px;
    column-gap: 2px;
}

.hosting_main_cards .card-title {
    font-size: 90%;
}

.hosting_main_cards .card-subtitle {
    font-size: 85%;
}
.hosting_main_header_title {
 font-size: 23px;
 font-weight: 600;
 padding-left: 15px;
 flex-wrap: nowrap;
}

.hosting_main_p_text  {
    font-weight: 550;
    font-size: 18px;
    padding-left: 15px ;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}

/****** Populaires ***********/
.populaires {
    background-color: #F2F2F2;
    width: 33%;
    padding: 25px;
}

.populaires-cards .card.soleilhidden {
    display:none;
}

.populaires-title {
    margin-top: 20px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}
.populaires-title .section-title{
    font-size:23px;
    font-weight: 600;
}

.populaires-cards .card {
    display: flex;
    margin-top: 20px;
    }

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* ACTIVITY */

.activity {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.activity_header_title{
    font-size: 21px;
    margin-left: 10px;
}

.activity_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity_card_large{
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 90%;
    margin-right: 15px;
}

.activity_card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    }

.carte-title-activity {margin-left: 20px;}

.activity_card_img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover; 
}

/* ACTIVITY */
    
/* FOOTER */
    
.footer {
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
    background-color:#F2F2F2;
}
    
.footer_containers {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    margin-right: 25%;
}

.footer_container {
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    }

.footer_container_title {
    font-size: medium;
}

.footer_container_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Raleway;
    font-size: 14px;
}

/* FOOTER */


/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .headerImg {
        padding-left: 25px;
    }
    .headerNav{
        padding-right: 25px;
    }
    .search {
        padding-top: 10px;
        margin: 25px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hebergements-and-populaires {
        box-sizing: content-box;
        width: 90%;
         margin-left: 5%;
        margin-right: 5%;
        padding-top: 150px;
        padding-bottom: 200px;
        display: flexbox;
        flex-direction: column;
        justify-content: center;
       
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .populaires-cards .cannebiere {
        display: none;
    }

    .populaires-cards .card.soleilhidden{
        display: flex;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activity{
        margin-bottom: 35px;
    }
    .activity img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .header{
        display: flexbox;
        flex-direction: column;
        align-items: center;
    }

    .headerNav{
        padding-top: 10px;
        padding-right: 0;
        width: 100%;
        display: flex;
        justify-content:center;
        justify-content: space-evenly;
        border-bottom: solid rgb(242, 242, 242);
    }
    .headerNavLink{
        width: 100%;
        padding-bottom: 20px;
    }

    .headerNavLink:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: solid;
    }
   
    .search {
        padding-top: 60px;
        margin: 25px;
    }

    .search_form_icon {
        width: 50px;
    }

    .search_form_searchinput {
        width: 190px;
    }

    .search_header_title {
        font-size: 18px;
        font-weight: 700;
    }

    .search_text_icon {
        display:contents;
        color:white;
    }

    .search_form_subtinput_text {
        display: none;
    }

    .search_form_subtinput {
        background-color: #0065FC; 
        border-radius: 15%;
        border-color:#0065FC ; 
        Width: 49px;
        Height: 49px;
    }

    .search_filters {
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        }
    .search_filters_filters {
        flex-wrap: wrap;
        }


    .search_filters_filters .search_filters_filter{
        height: 35px;
        width: 120px;
        margin-bottom: 15px;
    }
    
   .search_filters_filters .search_filters_filter_title {
        font-size: 12px;
        font-weight: 700;
        flex-wrap: nowrap;
        }
    
    .search_result {
        width: 300px;
    }

    .hebergements-and-populaires {
        display: flexbox;
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
    }
    
    .hebergements {
        display: flexbox;
        flex-direction: column;
        background-color:white ;
        margin: 0;
    }

    .hebergements img {
        Width: 100%;    
    }

    .hosting_main_cards .card{
        width: 100%;
    }

    .hosting_main_header_title {
        padding-left: 0;
    }

    .hebergements-and-populaires .populaires{
        border-radius: 0px;
    }

    .populaires {
        margin-top: 25px;
        width: 100%;;
    }
    .populaires-cards {
        width: 100%;
        display: flexbox;
        flex-direction: column;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 15px;
        width: 320px;
    }
      
    .populaires-cards .card.cannebiere {
        display:none;
    }

    .populaires-cards .card.soleilhidden{
        display: flex;
    }

    .activity {
        margin : 20px;
    }
    .activity_cards {
        width: 100%;
        margin-top: 40px;
        display: flexbox;
        flex-direction: column;
    }
    
    .activity_cards .activity_card_large{
        margin-bottom: 15px;
    }
    
    .activity_cards .activity_card_img {
        height: 150px;
        width: 100%;
    }
    
    .footer_containers {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
    
    .footer_container_title{
        display: flex;
        flex-direction: row;
    }
    .footer_container_text{
    display: flex;
    flex-direction: column;
    }
}